to fetch list of books
method:GET
endpoint:'/books'
response
[
{"bookID":"B1212","bookName":"History of Amazon Valley","author:"Ross Suarez","availablecopies":2,"totalcopies":5}
]
2.Fetch list of subscriptions:
method:GET
endpoint:'/subscriptions'
response
{"subscriberName":"jhon","datasubscribed":""12-JUN-2020","datareturned":"14-may-2-2020","bookId":"81212"}
